<% content_for(:title, "Wines in Wino") %>

<div class ="container">
  <h1>Wines</h1>

    <h2>Featured Wine!</h2>
    <h4><img src="<%= @random_wine.label %>" height="200"></h4>
    <h4><%= @random_wine.name %></h4>

    <ul>
      <% @wines.each do |wine| %>
      <li><%= link_to wine.name, wine_path(wine) %> | rating: <%= wine.average_rating %> | year: <%= wine.year %> | grapes: <%= wine.grapes %> </li>
      <% end %>
    </ul>

      <p><%= link_to "alphabetical order", wines_path(sort_order: "name"), method: :get %> | <%= link_to "rating order", wines_path(sort_order: "average_rating"), method: :get %> | <%= link_to "year order", wines_path(sort_order: "year"), method: :get %></p>

      <p>Search wines:
      <%= form_tag("/wines/search", method: "get") do %>
        <%= label_tag(:term, "Search for:") %>
        <%= text_field_tag(:term) %>
        <%= submit_tag("Search")%>
      <% end %>

      </p>

    <p>
      <%= link_to "Add Wine", new_wine_path(@wine), :class => "btn btn-success" %>
    </p>
</div>
